@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.body {
    background-color: #fff; 
    overflow-y: scroll; 
    font-family: 'Architects Daughter', cursive;
}


    
.name {
     color: #000;
     position: absolute;
     top: 25%;
     left: 20%;
     font-size: 50px;
}


.navbar-1 {
    /* This is the section for the different pages */
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    
}

#logo {
    mix-blend-mode: multiply;
    display: block;
    height: 75px;
    width: 125px;
    position: fixed;
    top: 1%;
    left: 5%;
    padding: 15px;
    border-radius: 20px;
    z-index: 1;
}

.contactButton {
    position: fixed;
    left: 85%;
    padding: 15px;
    border-style: solid;
    border-color: #000;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    z-index: 1;
}

/* Start of the about me section */


.aboutSection {
    background-color: grey;
    height: 200px;
    padding: 100px;
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
}
#introduction {
    position: absolute;
    top: 10%;
    left: 38%;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
}
#aboutParagraph {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
}

/* Start of the skills column */
.designer {
    background-color: blue;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 135%;
    left: 29%;
    font-family: 'Architects Daughter', cursive;
    border-radius: 15px;
}
#designerTitle {
    position: absolute;
    left: 20%;

}
#designerP1 {
    position: absolute;
    top: 15%;
    left: 20%;
    line-height: 20px;
}
#designerP2Header {
    position: absolute;
    top: 35%;
    left: 27%;
    
}
#designerP2 {
    position: absolute;
    top: 42%;
    left: 20%;
}
#designerP3Header {
    position: absolute;
    top: 50%;
    left: 20%;
}
#designerP3 {
    position: absolute;
    top: 57%;
    left: 38%;
    line-height:30px;
    text-align: center;
}


/* Start of the Front-End developer column */
.front-end {
    background-color: blue;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 135%;
    left: 53%;
    font-family: 'Architects Daughter', cursive;
    border-radius: 15px;

}
#front-endTitle {
    position: absolute;
    left: 8%;
}
#front-endP1 {
    position: absolute;
    top: 15%;
    left: 15%;
}
#front-endP2Header {
    position: absolute;
    top: 35%;
    left: 20%;
}
#front-endP2 {
    position: absolute;
    top: 42%;
    left: 20%;
}
#front-endP3Header {
    position: absolute;
    top: 50%;
    left: 30%;
}
#front-endP3 {
    position: absolute;
    top: 57%;
    left: 30%;
    text-align: center;
    line-height: 30px;
}


/* Start of the Projects Section */
.projectSection {
    background-color: grey;
    height: 300px;
    padding: 100px;
    Position: absolute;
    top: 230%;
    right: 0px;
    left: 0px;
}
#projectSectionHeader {
    position: absolute;
    top: 5%;
    left: 46%;
}











/* Start of footer and Social media icons */

#footerElementPositioning {
    position: absolute;
    bottom: 5%;
    left: 48%;  
}
#footerSectionBackgroundColor {
    background-color:#fff;
    height: 100px;
    position: absolute;
    top: 300%;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.social {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    list-style-type: none;
    
    
}

.twitter_icon {
    height: 25px;
    width: 25px;
    
}

.linkedin_icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.github_icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.instagram_icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.footerName {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
}



