@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body { 
    background-color: white; 
    overflow-y: scroll; 
    font-family: 'Architects Daughter', cursive;
}
/* Add maple leaf icon and create animation */
#mapleLeaf0,#mapleLeaf4 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 15%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#mapleLeaf1, #mapleLeaf8 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 25%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}
#mapleLeaf2, #mapleLeaf5, #mapleLeaf7 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 40%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 5.2s;
    animation-iteration-count: infinite;
}
#mapleLeaf3, #mapleLeaf6 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 30%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 4.6s;
    animation-iteration-count: infinite;
}
@keyframes fallingLeaf {
    0% {
        top: 0px;
        
    }
    
    100% {
        top: 750px;
    }

}

/* ui/ux designer & front-end developer text */
.name {
     color: #000;
     position: absolute;
     top: 25%;
     left: 25%;
     font-size: 5vw;
     text-shadow: 5px 5px 4px #ffcb00;
     z-index: 1;
     text-indent: 10vw;
}


.navbar-1 {
    /* This is the section for the different pages */
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    
}

#logo {
    mix-blend-mode: multiply;
    display: block;
    height: 75px;
    width: 125px;
    position: fixed;
    top: 1%;
    left: 5%;
    padding: 15px;
    border-radius: 20px;
    z-index: 1;
}

/* Create contact button and hover */
.contactButton {
    background-color: none;
    position: fixed;
    left: 88%;
    padding: 15px;
    border-style: solid;
    border-color: #000;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    z-index: 1;
}
.contactButton:hover {
    background-color: #ffcb00;
    box-shadow: 0 0 10px #ffcb00;
}

/* Start of the about me section */


.aboutSection {
    background-color: #587e76;
    height: 200px;
    padding: 100px;
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
}
#introduction {
    position: absolute;
    top: 10%;
    left: 38%;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
}
#aboutParagraph {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    overflow-wrap: normal;
}

/* Start of the skills column */
.orangeBoxSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.designer {
    background-color: #c1502e;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 135%;
    left: 29%;
    font-family: 'Architects Daughter', cursive;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #ffcb00;
}
#designerTitle {
    position: absolute;
    left: 20%;

}
#designerP1 {
    position: absolute;
    top: 15%;
    left: 20%;
    line-height: 20px;
}
#designerP2Header {
    position: absolute;
    top: 35%;
    left: 27%;
    
}
#designerP2 {
    position: absolute;
    top: 42%;
    left: 20%;
}
#designerP3Header {
    position: absolute;
    top: 50%;
    left: 20%;
}
#designerP3 {
    position: absolute;
    top: 57%;
    left: 38%;
    line-height:30px;
    text-align: center;
}


/* Start of the Front-End developer column */
.front-end {
    background-color: #c1502e;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 135%;
    left: 53%;
    font-family: 'Architects Daughter', cursive;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #ffcb00;
}
#front-endTitle {
    position: absolute;
    left: 8%;
}
#front-endP1 {
    position: absolute;
    top: 15%;
    left: 15%;
}
#front-endP2Header {
    position: absolute;
    top: 35%;
    left: 20%;
}
#front-endP2 {
    position: absolute;
    top: 42%;
    left: 20%;
}
#front-endP3Header {
    position: absolute;
    top: 50%;
    left: 30%;
}
#front-endP3 {
    position: absolute;
    top: 57%;
    left: 30%;
    text-align: center;
    line-height: 30px;
}


/* Start of the Projects Section */
.container {
    background-color: #587e76;
    height: 650px;
    padding: 100px;
    Position: absolute;
    top: 230%;
    right: 0px;
    left: 0px;
}
#projectSectionHeader {
    position: absolute;
    top: 5%;
    left: 45%;
}



/* Linking Projects */
/* tictactoeProject and hover */
#tictactoeProject{
    position: absolute;
    height: 300px;
    width: 335px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s; 
    
}
.image1{
    overflow: hidden;
    height: 300px;
    width: 335px;
    position: absolute;
    top: 20%;
    left: 18%;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .8s;
    border-radius: 15px;
}

.image1:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 535px;
    transform: translate(-140%, -50%);
    background-color: rgb(193,80,46, 0.8);
    border-radius: 50%;
    transition: .8s;
}

.image1:hover:after{
    transform: translate(-50%, -50%);
}

.image1:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}
.figcaption1{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-2000px, -50%);
    transition: .8s;
    transition-timing-function: ease;
    width: 300px;
}
#tictactoeProjectButton {
    position: absolute;
    top: 95%;
    left: 25%;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    font-size: 1.35vw;
    text-decoration: none;
}
.image1:hover .figcaption1{
    transform: translate(-50%, -50%); /*  -50%, -50%*/
}


/* pieceworkProject and hover */
#pieceworkProject {
    position: absolute;
    height: 300px;
    width: 335px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: .8s;
}
.image2{
    overflow: hidden;
    height: 300px;
    width: 335px;
    position: absolute;
    top: 20%;
    left: 41%;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .8s;
    border-radius: 15px;
}

.image2:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 535px;
    transform: translate(-140%, -50%);
    background-color: rgb(193,80,46, 0.8);
    border-radius: 50%;
    transition: .8s;
}

.image2:hover:after{
    transform: translate(-50%, -50%);
}

.image2:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}
.figcaption2{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-2000px, -50%);
    transition: .8s;
    transition-timing-function: ease;
    width: 300px;
}
#pieceworkProjectButton {
    position: absolute;
    top: 95%;
    left: 25%;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    font-size: 1.35vw;
    text-decoration: none;
}
.image2:hover .figcaption2{
    transform: translate(-50%, -50%); /*  -50%, -50%*/
}

/* turnoverRatio project and hover */
.image3{
    overflow: hidden;
    height: 300px;
    width: 335px;
    position: absolute;
    top: 20%;
    left: 64%;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .8s;
    border-radius: 15px;
}

.image3:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 535px;
    transform: translate(-140%, -50%);
    background-color: rgb(193,80,46, 0.8);
    border-radius: 50%;
    transition: .8s;
}

.image3:hover:after{
    transform: translate(-50%, -50%);
}

.image3:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}
#turnoverRatio {
    position: absolute;
    height: 300px;
    width: 335px;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    transition: .8s;
}
.figcaption3{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-2000px, -50%);
    transition: .8s;
    transition-timing-function: ease;
    width: 300px;
}
#turnoverRatioProjectButton {
    position: absolute;
    top: 95%;
    left: 25%;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    font-size: 1.35vw;
    text-decoration: none;
}
.image3:hover .figcaption3{
    transform: translate(-50%, -50%); /*  -50%, -50%*/
}

/* Mailing label project and hover */

.image4{
    overflow: hidden;
    height: 300px;
    width: 335px;
    position: absolute;
    top: 57%;
    left: 41%;  /*  check */
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .8s;
    border-radius: 15px;
}

.image4:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 535px;
    transform: translate(-140%, -50%);
    background-color: rgb(193,80,46, 0.8);
    border-radius: 50%;
    transition: .8s;
}

.image4:hover:after{
    transform: translate(-50%, -50%);
}

.image4:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}

#mailingLabel{
    position: absolute;
    height: 300px;
    width: 335px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}
.figcaption4{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-2000px, -50%);
    transition: .8s;
    transition-timing-function: ease;
    width: 300px;
}
#mailingLabelButton {
    position: absolute;
    top: 95%;
    left: 25%;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    font-size: 1.5vw;
    text-decoration: none;
}

.image4:hover .figcaption4{
    transform: translate(-50%, -50%); /*  -50%, -50%*/
}


/* Contact form */
#contactFormBackground {  
    position: absolute;
    top: 360%;
    left: 38%;
    font-weight: bold;
}
#contactTitle {
    text-align: center;
}
label {
    display: flex;
    flex-direction: row;
}
input[type=text], input[type=email], textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 25px;
    resize: vertical;
  }
  
  #submit {
      position: absolute;
      top: 95%;
      left: 225px;
    background-color: none;
    color: black;
    padding: 12px 20px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
    font-weight:bold;
    font-size: large;
  }
  #submit:hover {
      background-color: #ffcb00;
      box-shadow: 0 0 10px #ffcb00;
  }


/* Start of footer and Social media icons */

#footerElementPositioning {
    position: absolute;
    bottom: 5%;
    left: 50%;  
}
#footerSectionBackgroundColor {
    background-color:#c1502e;
    height: 110px;
    position: absolute;
    top: 470%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
}
.social {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    list-style-type: none;
}

.twitter_icon {
    height: 25px;
    width: 25px;
    
}

.linkedin_icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.github_icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.instagram_icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.footerName {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
}



/* Make portfolio tablet responsive */
@media(max-width: 768px) {
    .contactButton {
        position: fixed;
        left: 80%;
    }
    #logo {
        position: fixed;
        left: .5%;
    }
/* Add maple leaf icon and create animation */
    #mapleLeaf0,#mapleLeaf4 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 5%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    }
    #mapleLeaf1, #mapleLeaf8 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 5%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    }
    #mapleLeaf2, #mapleLeaf5, #mapleLeaf7 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 2%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 5.2s;
    animation-iteration-count: infinite;
    }
    #mapleLeaf3, #mapleLeaf6 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 20%;
    transform: rotate(135deg);
    animation-name: fallingLeaf;
    animation-duration: 4.6s;
    animation-iteration-count: infinite;
    }
/* About section */
    .aboutSection {
        height: 200px;
        padding: 100px;
        position: absolute;
        top: 75%;
        right: 0px;
        left: 0px;
    }
    #introduction {
        position: absolute;
        top: 5%;
        left: 20%;
        text-align: center;
        font-size: 4vw;
        padding-bottom: 1%;
    }
    #aboutParagraph {
        text-align: justify;
        font-size: 2.5vw;
        overflow-wrap:break-word;
    }
    /* Start of the skills column */
    .designer {
        height: 475px;
        width: 325px;
        position: absolute;
        top: 100%;
        left: 27.5%;
    }
    .front-end {
        height: 475px;
        width: 325px;
        position: absolute;
        top: 150%;
        left: 27.5%;
    }
    #front-endTitle {
        font-size: 4vw;
    }

    /* Project section */
    .container {
        height: 400px;
        top: 205%;
    }
    #projectSectionHeader {
        position: absolute;
        top: 5%;
        left: 35%;
    }
    /* Linking Projects */
    /* tictactoeProject and hover */
    #tictactoeProject{
        height: 205px;
        width: 235px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 15px; 
    }
    .image1 {
        height: 205px;
        width: 235px;
        position: absolute;
        left: 17%;
    }
    .figcaption1 {
        position: absolute;
        top: 31%;
        left: 55%;
        font-size: 1.5vw;
        width: 205px;
        font-family: 'Architects Daughter', cursive;
    }
    #tictactoeProjectButton {
        font-size: 3vw;
        position: absolute;
        top: 95%;
        left: 10%;
        text-align: center; 
        border-radius: 20px;
    }
    #pieceworkProject {
        height: 205px;
        width: 235px;
        position: absolute;
        top: 50%;
        left: 50%; 
        border-radius: 15px; 
    }
    .image2 {
        height: 205px;
        width: 235px;
        position: absolute;
        left: 52%;
    }
    .figcaption2 {
        position: absolute;
        top: 31%;
        left: 53%;
        width: 225px;
        font-size: 1.45vw;
    }
    #pieceworkProjectButton {
        top: 90%;
        left: 15%;
        font-size: 3vw;
        text-align: center;
    }
    #turnoverRatio {
        height: 205px;
        width: 235px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .image3 {
        height: 205px;
        width: 235px;
        position: absolute;
        top: 60%;
        left: 17%;
    }
    .figcaption3 {
        Position: absolute;
        top: 35%;
        left: 50%;
        width: 235px;
        font-size: 1.45vw;
    }
    #turnoverRatioProjectButton {
        top: 95%;
        left: 18%;
        font-size: 3vw;
        text-align: center;
    }
    #mailingLabel {
        height: 205px;
        width: 235px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .image4 {
        height: 205px;
        width: 235px;
        position: absolute;
        top: 60%;
        left: 52%;
    }
    .figcaption4 {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 235px;
        font-size: 1.45vw;
    }
    #mailingLabelButton {
        top: 95%;
        left: 20%;
        font-size: 3vw;
        text-align: center;        
    }
/* Contact form */
    #contactFormBackground {  
        position: absolute;
        top: 270%;
        left: 18%;
        font-weight: 2vw;
    }
    #footerSectionBackgroundColor {
        top: 340%;
    }
    #footerElementPositioning {
        position: absolute;
        bottom: 5%;
        left: 45%;  
    }
}

/* Make portfolio mobile responsive */
@media(max-width: 500px) {
    
    .contactButton {
        position: fixed;
        left: 80%;       
        font-size: 2.75vw;
    }
    #logo {
        position: fixed;
        left: .5%;
    }
/* Add maple leaf icon and create animation */
    
    #mapleLeaf0,#mapleLeaf4 {
    left: 15%;
    }
    #mapleLeaf1, #mapleLeaf8 {
    left: 5%;
    }
    #mapleLeaf2, #mapleLeaf5, #mapleLeaf7 {
    left: 2%;
    }
    #mapleLeaf3, #mapleLeaf6 {
    left: 15%;
    }
/* About section */
    .aboutSection {
        height: 210px;
        position: absolute;
        top: 94%;
        right: 30px;
        left: 0px;
        margin-right: -95px;
        padding-right: 15px;
    }
    #introduction {
        position: absolute;
        left: 10%;
        text-align: center;
        font-size: 6vw;
    }
    #aboutParagraph {
        position: absolute;
        left: 5%;
        text-align: center;
        font-family: 'Architects Daughter', cursive;
        font-size: 4vw;
    }
    /* Start of the skills column */
    .designer {
        height: 450px;
        width: 350px;
        position: absolute;
        top: 135%;
        left: 22.5%;
    }
    #designerTitle {
        position: absolute;
        left: 20%;
        font-size: 7vw;
    }
    #designerP1 {
        position: absolute;
        top: 12.5%;
        left: 5%;
        text-align: center;
        font-size: 4vw;
    }
    #designerP2Header {
        position: absolute;
        top: 32%;
        left: 27.5%;
        text-align: center;
        font-size: 4.5vw;
    }
    #designerP2 {
        position: absolute;
        top: 40%;
        left: 17.5%;
        font-size: 4vw;
    }
    #designerP3Header {
        position: absolute;
        top: 50%;
        left: 12%;
        font-size: 4.5vw;
    }
    #designerP3 {
        position: absolute;
        top: 60%;
        left: 37%;
        line-height:25px;
        text-align: center;
        font-size: 4vw;
    }
    .front-end {
        height: 450px;
        width: 350px;
        position: absolute;
        top: 210%;
        left: 22.5%;  
    }
    #front-endTitle {
        position: absolute;
        left: 1%;
        font-size: 7vw;
    }
    #front-endP1 {
        position: absolute;
        top: 12.5%;
        left: 5%;
        text-align: center;
        font-size: 4vw;
    }
    #front-endP2Header {
        position: absolute;
        top: 32%;
        left: 17.5%;
        text-align: center;
        font-size: 4.5vw;
    }
    #front-endP2 {
        position: absolute;
        top: 40%;
        left: 17.5%;
        font-size: 4vw;
    }
    #front-endP3Header {
        position: absolute;
        top: 50%;
        left: 30%;
        font-size: 4.5vw;
    }
    #front-endP3 {
        position: absolute;
        top: 60%;
        left: 30%;
        text-align: center;
        line-height: 30px;
        font-size: 4vw;
    }
    
    /* Project section */
    .container {
        height: 1500px;
        top: 285%;
        right: 30px;
        left: 0px;
        margin-right: -95px;
        padding-right: 15px;
    }
    #projectSectionHeader {
        position: absolute;
        top: 5%;
        left: 31.5%;
    }
    /* Linking Projects */
    /* tictactoeProject and hover */
    #tictactoeProject{
        height: 305px;
        width: 335px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 15px; 
    }
    .image1 {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 12%;
        left: 20%;
    }
    .figcaption1 {
        position: absolute;
        top: 31%;
        left: 55%;
        font-size: 2.5vw;
        width: 305px;
        font-family: 'Architects Daughter', cursive;
    }
    #tictactoeProjectButton {
        font-size: 5vw;
        position: absolute;
        top: 95%;
        left: 20%;
        text-align: center; 
        border-radius: 20px;
    }
    #pieceworkProject {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 50%;
        left: 50%; 
        border-radius: 15px; 
    }
    .image2 {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 33%;
        left: 20%;
    }
    .figcaption2 {
        position: absolute;
        top: 31%;
        left: 53%;
        width: 335px;
        font-size: 2.5vw;
    }
    #pieceworkProjectButton {
        top: 90%;
        left: 20%;
        font-size: 5vw;
        text-align: center;
    }
    #turnoverRatio {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .image3 {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 54%;
        left: 20%;
    }
    .figcaption3 {
        Position: absolute;
        top: 35%;
        left: 50%;
        width: 305px;
        font-size: 2.5vw;
    }
    #turnoverRatioProjectButton {
        top: 95%;
        left: 20%;
        font-size: 5vw;
        text-align: center;
    }
    #mailingLabel {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .image4 {
        height: 305px;
        width: 335px;
        position: absolute;
        top: 75%;
        left: 20%;
    }
    .figcaption4 {
        position: absolute;
        top: 30%;
        left: 55%;
        width: 305px;
        font-size: 2.5vw;
    }
    #mailingLabelButton {
        top: 95%;
        left: 20%;
        font-size: 5vw;
        text-align: center;        
    }

/* Contact form */
    #contactFormBackground {  
        position: absolute;
        top: 490%;
        left: 1%;
        font-weight: 2vw;
        padding-left: 15px;
        padding-right: 15px;
    }
    #footerSectionBackgroundColor {
        top: 575%;
        right: 30px;
        left: 0px;
        margin-right: -95px;
        padding-right: 15px;
    }
    #footerElementPositioning {
        position: absolute;
        bottom: 5%;
        left: 37%;  
    }
}
