.skills {
    background-color:black;   
}

.brendanPic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: fixed;
    top: 25%;
    left: 45%;
}
    
.name {
     color: #ff6700;
     text-align: center;
     position: fixed;
     top: 56.5%;
     left: 40%;
}
.navbar {
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #494947; 
}

a {
    /* This is the section for the different pages */
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #Ff6700;
    line-height: 40px;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

#homeIcon {
    height: 60px;
    width: 62px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-right: 15px;
}
.homeTab {
    opacity: 1;
    display:block;
    padding-bottom: 20px;
    
}



#homeIcon:hover {
    opacity: 0;
    transition-duration: 0s;

}


.skillsTab {
    display: block;
    padding-bottom: 20px;
}

.workTab {
    display: block;
    padding-bottom: 20px;
}

.contactTab {
    display: block;
    padding-bottom: 20px;
}

/* Start of Social media icons */

.social {
    position: absolute;
    bottom: 0px;
    background-color: transparent;
    list-style-type: none;
    padding: 10px;

}

.twitter_icon {
    height: 35px;
    width: 35px;
}

.linkedin_icon {
    height: 35px;
    width: 35px;
}

.github_icon {
    height: 35px;
    width: 35px;
}

.instagram_icon {
    height: 35px;
    width: 35px;
}
